<header role="banner" class="header">
  <div class="site_branding">
    {{ page.header }}
  </div>
      
  <div class="primary_menu">
    {% if page.primary_menu %}
      {{page.primary_menu }}
    {% endif %}
  </div>
</header>